
<p><img src="img/work/proj-1/img1.jpg" alt="Typo International" /></p>


<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe src="//www.youtube.com/embed/uD3lK2NX7mY" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
</div>


<p>TYPO: International Design Talks is an annual event held in Berlin, London, and San Francisco. This promotional project is developed to market the event for the designindustry. The use of patterns, sophisticated color scheme and typography are applied for the print and mobile application.</p>

<p><img src="img/work/proj-1/img2.jpg" alt="Typo International" />
<img src="img/work/proj-1/img3.jpg" alt="Typo International" />
<img src="img/work/proj-1/img4.jpg" alt="Typo International" />
<img src="img/work/proj-1/img5.jpg" alt="Typo International" /></p>

