
<p><img src="img/work/proj-7/img0.jpg" alt="Weather Dashboard" />
<img src="img/work/proj-7/img1.jpg" alt="Weather Dashboard" />
<img src="img/work/proj-7/img2.jpg" alt="Weather Dashboard" />
<img src="img/work/proj-7/img3.jpg" alt="Weather Dashboard" />
<img src="img/work/proj-7/img4.jpg" alt="Weather Dashboard" /></p>

